{% extends 'base.html' %}
{% load static %}

{% block css %}
<style type= "text/css">
    @font-face {
        font-family: 'HeirofLightBold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Cafe24SsurroundAir';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Cafe24Ssurround';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    #center.center{
        margin-top:5%;
        margin-left: 10%;
    }

    .schedule .table {
        opacity : 0.25;
        background-color: #D9D9D9;
    }

    .title {
        display: block;
        font-family: 'Cafe24Ssurround';
        font-size: 25px;
        color: #707070;
        width: 290px;
        text-align: center;
        margin: 0 auto;
        width: 290px;
        padding: 0 10 10;
        border-bottom: 2px solid #707070;
    }

    #content.content{
        padding:2%;
        margin-top:-25%;
        margin-left: 15%;
    }
    
    .line1, .line2 {
        margin-left: 335px;
        margin-top: -5px;
        background-color: #707070;
        width: 250px;
        height: 1px;
        border:0;
        
    }

    .location_keyword{
        width:300px;
        font-size: 16px;
        margin-left: 10%;
        border-top:none;
        border-left:none;
        border-right:none;
    }

    #search1{
        margin-top:-3%;
        margin-left:115%;
        width: 25px;
        height: 25px;
    }

    .addbtn{
        width: 200px;
        border-radius: 20px;
        font-size: 16px;
        background-color:#8E44AD;
        color:white;
        margin-left: 13%;
    }
    .addbtn:hover{
        cursor: pointer;
        background-color: rgba(142,68,173,0.8);
    }
    #api{
        margin-top:15%;
        margin-left:15%;
    }

    #map {
        padding:1%;
        width: 30%;
        height: 50%;
        margin-top: -15%;
        margin-left: 50%;
    }
</style>
{% endblock %}

{% block main-content %}
<main>
    <div id = "center" class="center">
        <span class = "title">
            중간지점을 찾아보세요!
        </span>
    </div>

    <div id = "api">
        <div id="map"></div>
    </div>

    <div id = "content" class = "content">    
        <!--위치입력-->
        <div id="myloc" class="loc">
            <input class="location_keyword" type="text" name="location_keyword" type="text" placeholder="나의 위치를 검색해주세요" onKeypress="javascript:if(event.keyCode==13) {getPostcode(this.parentNode.id);}"/>
            <img id="search_btn" src="{% static 'images/search.png' %}" onclick="getPostcode(this.parentNode.id);"/>
        </div>
        <br>
        <div id="freindloc" class="loc">
            <input class="location_keyword" name="location_keyword" type="text" placeholder="친구의 위치를 검색해주세요" onKeypress="javascript:if(event.keyCode==13) {getPostcode(this.parentNode.id);}"/>
            <img id="search_btn" src="{% static 'images/search.png' %}" onclick="getPostcode(this.parentNode.id);"/>
        </div>
        <br>
        <div id="freindloc2" class="loc">
            <input class="location_keyword" name="location_keyword" type="text" placeholder="친구의 위치를 검색해주세요" onKeypress="javascript:if(event.keyCode==13) {getPostcode(this.parentNode.id);}"/>
            <img id="search_btn" src="{% static 'images/search.png' %}" onclick="getPostcode(this.parentNode.id);"/>
        </div>
        <br>
    </div>


    <!--위치 찾을 친구 추가하기-->
    <input class = "addbtn" type='button' value= "친구추가하기" onclick="add_textbox()">
    <img class="userpls" src= "{% static 'images/user-plus.png' %}" alt="Card image cap">

    <!--지도 api-->
    
    
</main>    
{% endblock %}

{% block js %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=83649d17ed6ffdbebc59d18cca995938&libraries=services"></script>
<script>
    //KAKAO API를 통해 지도 불러오기(동)
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(37.546478390980596, 126.96486293693982),  //중심점
        level: 3,    //줌 레벨
    };
    var map = new kakao.maps.Map(container, options);

    // 지도에 확대 축소 컨트롤을 생성한다(동)
    var zoomControl = new kakao.maps.ZoomControl();

    // 지도의 우측에 확대 축소 컨트롤을 추가한다(동)
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

    //model에 저장된 사용자의 위치를 마커로 표시(*)
    marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(37.546478390980596, 126.96486293693982),
        image: new kakao.maps.MarkerImage("{% static 'images/marker_icon.png' %}", new kakao.maps.Size(31, 35), new kakao.maps.Point(13, 34)),
    });
    marker.setMap(map);

    //지도 클릭 이벤트
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        var geocoder = new kakao.maps.services.Geocoder();  //주소-좌표 변환 객체 생성
        geocoder.coord2Address(mouseEvent.latLng.getLng(), mouseEvent.latLng.getLat(), function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var detailAddr = !!result[0].road_address ? result[0].road_address.address_name : '';   //도로명 주소
                if (detailAddr == '') detailAddr += result[0].address.address_name; //도로명 주소가 없다면 지번 주소를 가져옴

                document.getElementById("address").value = detailAddr; //form에 주소 저장
                setFormLatLng(mouseEvent.latLng.getLat(), mouseEvent.latLng.getLng());  //form에 위도경도 저장
                marker.setPosition(mouseEvent.latLng);    //마커를 클릭한 위치에 표시
            }   
        });
    });

    //지도의 중심점을 변경하는 함수(동)
    function changePoint(lat, long) {
        map.setCenter(new kakao.maps.LatLng(lat, long));
        map.setLevel(3);
    }

    //마커의 위치를 변경하는 함수(동)
    function changeMarker(lat, long) {
        marker.setPosition(new kakao.maps.LatLng(lat, long));
    }

    //좌표-주소 변환하고 form에 주소를 저장하는 함수(동)
    function getAddress(lat, long) {
        var geocoder = new kakao.maps.services.Geocoder();  //주소-좌표 변환 객체 생성
        geocoder.coord2Address(long, lat, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var detailAddr = !!result[0].road_address ? result[0].road_address.address_name : '';   //도로명 주소
                if (detailAddr == '') detailAddr += result[0].address.address_name; //도로명 주소가 없다면 지번 주소를 가져옴

                document.getElementById("address").value = detailAddr; //form에 주소 저장
            }
        })
    }

    function getGeofromAddress(address) {
        var geocoder = new kakao.maps.services.Geocoder();
        geocoder.addressSearch(address, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                changePoint(result[0].y, result[0].x);  //지도의 중심 옮기기
                changeMarker(result[0].y, result[0].x); //마커 옮기기
                setFormLatLng(result[0].y, result[0].x);//form에 저장
            }
        });
    }

    //form의 latitude와 longitude에 값을 저장하는 함수(동)
    function setFormLatLng(lat, long) {
        document.getElementById("latitude").value = lat; //form에 latitude 저장
        document.getElementById("longitude").value = long;//form에 longitude 저장
    }
</script>
<script type="text/javascript">//동일
    function loadCoords() {
        const loadedCoords = localStorage.getItem("coords");
        //현재 위치 값을 받아옴
        navigator.geolocation.getCurrentPosition(handleGeoSuccess, handleGeoError);
    }

    //GPS 값을 받아오는 것에 성공했을 경우 실행되는 함수
    function handleGeoSuccess(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        const coordsObj = {
            latitude,
            longitude
        };
        
        localStorage.setItem("coords", JSON.stringify(coordsObj));
        changeMarker(latitude, longitude);  //지도에 현재 위치 마커 표시하기
        changePoint(latitude, longitude);   //지도의 중심점을 현재 위치로 바꾸기
        setFormLatLng(latitude, longitude);     //form에 위도경도 저장
        getAddress(latitude, longitude);    //form에 주소 저장
    }

    function handleGeoError() {
        console.log("Can't access geo location");
    }
</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function getPostcode(id) {
        new daum.Postcode({
            oncomplete: function(data) {
                document.getElementById(id).getElementsByClassName('location_keyword')[0].value = data.address;    //form에 주소 저장
                getGeofromAddress(data.address);    //주소를 통해 위도경도 구하기
            }
        }).open({
            q: document.getElementById(id).getElementsByClassName('location_keyword')[0].value
        });
    }
</script>

<!--친구추가버튼 눌러서 input 박스 추가-->
<script type="text/javascript">
    function add_textbox(){
        var dom = document.getElementById("content");
        div_locs = dom.getElementsByClassName('loc')
        var len = dom.getElementsByClassName('loc').length;
        var id_text = div_locs[len-1].id.substring(0,9);
        var id_num = Number(div_locs[len-1].id.substring(9,)) + 1;

        var div = document.createElement("div");
        div.classList.add('loc');
        div.id = id_text + id_num;
        div.innerHTML = "<input class='location_keyword' name='location_keyword' type='text' placeholder='친구의 위치를 검색해주세요' onKeypress='javascript:if(event.keyCode==13) {getPostcode(this.parentNode.id);}'/><img id='search_btn' src='{% static 'images/search.png' %}' onclick='getPostcode(this.parentNode.id);'/>";
        dom.appendChild(div);

        dom.appendChild(document.createElement("br"));
    }


</script>
{% endblock %}

