{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block css %}
<style type="text/css">
    main {
        margin-top: 30px;
        margin-left: 350px;
    }
</style>
{% endblock %}

{% block main-content %} 
<main>
<div class="container">
    <h3>Settings </h3>
    <p>{{ user.username }}님의 계정정보를 수정하실 수 있습니다.</p>
    <a href="{% url 'accounts_update' %}">계정정보수정</a>
    </div>
    <div class="row">
        {% for post in setting.post_set.all %}
        <div class="col-4">
            <img src= "{{ post.image_set.first.file.url }}" class="img-fluid"/>
        </div>
        {% endfor %}
    </div>
</div>
</main>
{% endblock %}

