{% extends 'base.html' %}
{% load bootstrap4 %}


{% block css %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style type="text/css">
    /* main의 margin-left 값은 (.left의 width + 20px) */
    main {
        margin-top: 30px;
        margin-left: 350px;
    }

    #id_password {
        display: none;
    }

</style>
{% endblock %}

{% block main-content %}
<main>
<h1>프로필 수정</h1>

<form method="POST">
    {% csrf_token %}
    
    {% bootstrap_form user_change_form %}
    <input type="submit" value="Submit"/>
</form>

<a href="{% url 'accounts_delete' %}" class="btn btn-danger">회원탈퇴</a>
<a href="{% url 'password' %}">비밀밀호 변경</a>
</main>
{% endblock %}